h1 {
  background-color: #2b294a;
  color: white;
  text-align: center;
  font-family: sans-serif;
  padding: 20px;
}

h3 {
  font-family: sans-serif;
  font-size: 18px;
  padding: 5px 15px;
  /* text-shadow: -1px -1px 0 #000, 0 -1px 0 #000, 1px -1px 0 #000, 1px 0 0 #000, */
  /* 1px 1px 0 #000, 0 1px 0 #000, -1px 1px 0 #000, -1px 0 0 #000; */
  max-height: 40px;
}
ol {
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* align-items: flex-start; */
}

li {
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 10px;

  width: 320px;
  border: 2px solid rgb(143, 143, 143);
  border-radius: 15px;
  padding: 10px;
  color: black !important;
}

li:hover {
  background: #2b294a !important;
  color: white !important;
  cursor: pointer;
}

h2 {
  font-family: sans-serif;
  width: 100%;
  margin-bottom: 15px;
  font-size: 26px;
  color: #2b294a;
}

button {
  display: block;
  background-color: white;
  /* text-transform: uppercase; */
  font-weight: bold;
  /* border-style: solid;
  border-width: 5px;
  border-color: white; */
  border-radius: 15px;
  /* width: 32px;
  height: 32px; */
  margin-left: 12px;
  text-align: center;
}

a {
  font-size: 14px;
  text-decoration: none;
  display: flex;
  /* padding: 10px; */
  height: 100%;
  width: 100%;
  align-items: center;

  color: inherit;
}

body {
  background-color: white;
}
