h1 {
  background-color: #2b294a;
  color: white;
  text-align: center;
  font-family: sans-serif;
  padding: 20px;
}

h3 {
  color: white;
  padding: 15px;
}
ol {
  align-items: center;
  border-style: solid;
  border-width: 4px;
  border-color: white;
  border-radius: 15px;
  padding: 25px;
  margin: 15px;
  height: 80vh;
}
li {
  display: inline-block;
}

button {
  display: block;
  color: white;
  background-color: #f15929;
  font-size: 15px;
  border-style: solid;
  border-width: 3px;
  border-color: #f2ef1d;
  border-radius: 15px;
  padding: 15px;
  margin-left: 30px;
}

a {
  width: bold;
  color: white;
}
a:visited {
  color: white;
}
a:hover {
  color: white;
}

body {
  background-color: #00adef;
}
